{% extends 'base.html' %}
{% block content %}
    <h2>Checkout</h2>

    <p id="originalPrice" data-total="{{ total_price }}">Total Price: <strong>${{ total_price }}</strong></p>
    
    <form method="post">
        {% csrf_token %}
        
        <label for="discount_code">Enter Discount Code:</label>
        <input type="text" id="discount_code" name="discount_code" class="form-control" placeholder="Enter your code">
        <button type="button" class="btn btn-info mt-2" id="applyDiscount">Apply Discount</button>

        <p id="discount_message" class="text-success"></p>

        <p id="discountedPrice" class="text-danger"></p>

        <button type="submit" class="btn btn-success mt-3">Proceed to Payment</button>
    </form>

   
    <script src="{% static 'js/check.js' %}"></script>

{% endblock %}
